*,html, body {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: sans-serif;
   font-size: 18px;
   text-align: center;
}

h1
{
   margin-top: 40px;
 }

form {
   margin-top: 40px;
   width: 70%;
   display: flex;
   margin: auto;
   flex-direction: column;
   align-items: center;
   padding: 10px 20px;
   border-radius: 10px; 
   border: 1px solid black;
   background: #444;
   color: white;
}

form > input, form > button {
   margin-top: 10px;
   width: 60%;
   padding: 4px 5px;
   border-radius: 5px;

}

form > button {
   background: #fe0000;
   color: white;
}

#resultado, #resultadoTotal {
   padding: 20px 10px;
}